.sectionBreak{
	
    width: 100%;
    height: auto;
	background: #0060B2;
	color:white;
}
.sectionBreak h4{
	margin-top: 0;
	text-align: center;
	padding-top:10px;
}

.sectionBreak p{

	font-size: 18px;
	padding:10px;
	margin-bottom: 0;
	background: #1995FF;
	color:black;
}

.col-md-3{

	padding-top: 5px;
	background: #FF9C00;
	height: 230px;
	
}


.col-md-3 a{

	margin-top: -5px;
	padding-top: 10px;
	width: 90%!important;
	position: absolute;
	height: 40px;

}

.col-md-3 p{
	padding:10px;
	height: 120px;
	font-size: 16px;
	background: #B26D00;


}

.col-md-6{
	padding-top: 5px;
	background: #FF9C00;
	height: 520px;
}

.col-md-6 p{
	padding:10px;
	height: 450px;
	font-size: 20px;
	background: #B26D00;


}

.col-md-6 img{
	margin-top:15px;

}

.sectionContainer1{
	width: 100%;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	background-image: url("../images/blurredBackground.jpg");
	background-size: 100% 100%;
}

.sectionContainer2{
	width: 100%;
	background: #DEDBD3 url("../images/backgroundTexture_light.jpg") repeat center center;
}

.sectionContainer3{

	width: 100%;
	background: #3C3E3C url("../images/backgroundTexture_dark.png") repeat;

}

.col-md-3 h4{

	padding-top: 4px;

}

.row{
	margin-left: 0!important;
	margin-right: 0!important;
}

.siteTitle h2{

	font-size: 1.8vw;

	float:left;

}

.siteTitle img{
	
	float:right;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.scaling-svg-container {
 position: relative; 
 height: 0; 
 width: 100%; 
 padding: 0;
 padding-bottom: 100%; 
 /* override this inline for aspect ratio other than square */
}
.scaling-svg {
 position: absolute; 
 height: 100%; 
 width: 100%; 
 left: 0; 
 top: 0;
}