body{
	position: relative!important;
}

.btn-default{

	font-size: 16px!important;
	-moz-box-shadow:    0px 0px 3px 3px rgba(0,0,0,0.2);
  	-webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
  	box-shadow:         0px 0px 3px 3px rgba(0,0,0,0.2);

}

.sectionTitle{

	text-align: center;
	font-size: 22px!important;
	padding-top: 10px;

}

.informationSection{

	color:white; 
	background-color:rgba(0,0,0,0.675); 
	margin-bottom: -15px;
	

}

.informationSection p{
	font-size: 19px!important;
	padding: 35px!important;
	padding-top: 15px!important;
	color: rgb(210, 210, 210);

}

.sectionBreak{
	
    width: 100%;
    height: auto;
	background: #0060B2;
	color:white;

	/*z-index:0; 
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;*/
}
.sectionBreak h4{
	margin-top: 0;
	text-align: center;
	padding-top:10px;
}

.sectionBreak p{

	font-size: 18px;
	padding:10px;
	margin-bottom: 0;
	background: #1995FF;
	color:black;
}

.col-md-3{

	padding-top: 5px;
	background: #FF9C00;
	height: 255px;
	
}

.col-md-3 h4{

	text-align: center;
	padding-top: 4px;

}

.col-md-3 a{

	margin-top: -5px;
	padding-top: 10px;
	width: 90%!important;
	position: absolute;
	height: 44px;

}

.col-md-3 p{
	padding:10px;
	height: 140px;
	font-size: 16px;
	background: #B26D00;


}

.col-md-6{
	padding-top: 5px;
	background: #FF9C00;
	height: 520px;
}

.col-md-6 h3{

	text-align: center;
}

.col-md-6 p{
	padding:10px;
	height: 450px;
	font-size: 20px;
	background: #B26D00;


}

.col-md-6 img{
	margin-top:15px;

}

.sectionContainer1{
	width: 100%;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
	background-image: url("../images/blurredBackground.jpg");
	background-size: 100% 100%;
}

.sectionContainer2{
	width: 100%;
	background: #DEDBD3 url("../images/backgroundTexture_light.jpg") repeat center center;
}

.sectionContainer3{

	width: 100%;
	background: #3C3E3C url("../images/backgroundTexture_dark.png") repeat;

}

.row{
	margin-left: 0!important;
	margin-right: 0!important;
}

.siteTitle h2{


	float:left;

}

@media (max-width: 1199px) {

	.siteTitle h2{

		font-size: 20px;
	}

}

@media (max-width: 768px) {

	.siteTitle h2{
		padding-top: 5px;
		font-size: 16px;
	}

}

.siteTitle img{
	
	width: 32%;
	float:right;
}

@media (max-width: 768px) {

	.siteTitle img{
		width: 0%;
		visibility: none;
	}

}

@media (max-width: 1199px) {

	.siteTitle img{
		padding-top: 10px;
	}

}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.scaling-svg-container {
 position: relative; 
 height: 0; 
 width: 100%; 
 padding: 0;
 padding-bottom: 100%; 
 /* override this inline for aspect ratio other than square */
}
.scaling-svg {
 position: absolute; 
 height: 100%; 
 width: 100%; 
 left: 0; 
 top: 0;
}
/*
a[ id= "information" ]:target ~ .jumbotron div.sectionBreak {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "conditions" ]:target ~ .jumbotron div.sectionBreak{
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "questions" ]:target ~ #main div.sectionBreak {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}
*/